@import 'tailwindcss';

@theme {
    --color-bone-50: #faf8f5;
    --color-bone-100: #f2ede5;
    --color-bone-200: #e3d9cb;
    --color-clinical-600: #0d7c72;
    --color-clinical-700: #0a635b;
}

html,
body {
    background: var(--color-bone-50);
}
